@font-face {
    font-family: titulo;
    src: url(../fontes/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../fontes/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../fontes/LiberationSans-Regular.ttf);
}

#itens_cadastrados {
    display: flex;
    list-style: none;
    margin-inline: 50px;
    word-break: normal;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.card {
    height: 320px;
    width: 210px;
    background-color: rgb(254, 201, 201);
    border-radius: 15px;
    margin-left: 54.5px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 10px;
    cursor: pointer;
}

.card a {
    text-decoration: none;
}

.card:hover {
    border: 2px solid rgb(255, 72, 103);
    transform: scale(1.05);
    transition: 0.75s;
}

.iten_imagem {
    height: 210px;
    width: 210px;
    display: flex;
    align-self: center;
    background-color: rgb(86, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(82, 82, 82);
}

.iten_nome {
    height: 40px;
    margin-top: 8px;
    margin-inline: 5px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: textItens;
    padding-inline: 15px;
}

.iten_preco {
    margin-inline: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    display: flex;
    padding-inline: 15px;
}

.cifrao {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    text-decoration: none;
}

/* .verProduto {
    display: flex;
    position: relative;
    cursor: pointer;
    left: 155px;
    top: -38px;
    background-color: rgb(255, 72, 103);
    border-radius: 20px;
} */

.verProduto {
    display: none;
    position: relative;
    cursor: pointer;
    width: 213px;
    margin-left: -1px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
    margin-top: 14px;
    z-index: 1;
    background-color: rgb(255, 72, 103);
    padding-left: 20px;
}

#itens_cadastrados .verProduto {
    margin-top: 0px;
}

.card:hover .verProduto{
    display: flex;
}

.verProduto:hover {
    background-color: #46e5db;
}

.verProduto img {
    width: 20px;
}

.trianguloDesconto {
    width: 0; 
    height: 0; 
    display: flex;
    position: relative;
    top: -350px;
    left: 60px;
    rotate: -90deg;
    border-left: 100px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #ff0000;
}

.card:hover .trianguloDesconto {
    top: -375px;
}

.textoDesconto {
    color: aliceblue;
    font-size: 20px;
    display: flex;
    position: relative;
    top: -490px;
    left: 152px;
    z-index: 1;
}

.card:hover .textoDesconto {
    top: -515px;
}

#itens .card{
    border-radius: 30px;
    margin-inline: 10px;
    margin-bottom: 30px;
}