@font-face {
    font-family: titulo;
    src: url(../fontes/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../fontes/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../fontes/LiberationSans-Regular.ttf);
}

#itens_cadastrados {
    display: flex;
    list-style: none;
    word-break: normal;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.card {
    height: 320px;
    width: 210px;
    background-color: rgb(252, 199, 199);
    border-radius: 30px;
    padding-top: 5px;
    padding-inline: 15px;
    margin-inline: 10px;
    margin-bottom: 30px;
}

.iten_imagem {
    height: 210px;
    width: 210px;
    display: flex;
    align-self: center;
    margin-top: 10px;
    background-color: rgb(86, 83, 83);
    border-radius: 20px;
}

.iten_nome {
    height: 40px;
    margin-top: 8px;
    margin-inline: 5px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(97, 97, 97);
    font-family: textItens;
}

.iten_preco {
    margin-inline: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    display: flex;
}

.cifrao {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
    text-decoration: none;
}

.botaoAdicionarCarrinho {
    display: flex;
    position: relative;
    cursor: pointer;
    left: 165px;
    top: -38px;
    background-color: rgb(255, 72, 103);
    border-radius: 20px;
}

.botaoAdicionarCarrinho img {
    width: 20px;
}

.trianguloDesconto {
    width: 0; 
    height: 0; 
    display: flex;
    position: relative;
    top: -390px;
    left: 75px;
    rotate: -90deg;
    border-left: 100px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #ff0000;
}

.textoDesconto {
    color: aliceblue;
    font-size: 20px;
    display: flex;
    position: relative;
    top: -535px;
    left: 162px;
    z-index: 1;
}