#fundoLogin {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: #676565 2px solid;
    border-bottom: #676565 2px solid;
    background-image: linear-gradient(to right, #ff6c70, rgba(87, 87, 87, 0.698), #ff6c70);
}

#topo_promocoes {
    margin: auto;
    padding: 0;
    height: 22vw;
    width: 70%;
    background-color: #a09b8c;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 1px 1px 10px;
}

.conteudoCarrossel {
    width: 400%;
    height: auto;
    display: flex;
}

.conteudoCarrossel input {
    display: none;
}

.imagemCarrossel {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.imagemCarrossel img {
    width: 100%;
    height: 22vw;
}

.manualCarrossel, .autoCarrossel {
    position: absolute;
    width: 80%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    margin-left: -5vw;
}

.manualCarrossel .manualBotao, .autoCarrossel div {
    border: 1px gray solid;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
}

.manualCarrossel .manualBotao:not(:last-child), .autoCarrossel div:not(:last-child) {
    margin-right: 10px;
}

.manualCarrossel .manualBotao, .autoCarrossel div {
    position: relative;
    top: -10vw;
    transition: 0s;
    background-color: #a09b8c3b;
}
.manualCarrossel .manualBotao:hover {
    background-color: rgb(46, 199, 186);
}

#radio1:checked ~ .autoCarrossel .autoRadio1 {
    background-color: #ff6c70;
}

#radio2:checked ~ .autoCarrossel .autoRadio2 {
    background-color: #ff6c70;
}

#radio3:checked ~ .autoCarrossel .autoRadio3 {
    background-color: #ff6c70;
}

#radio4:checked ~ .autoCarrossel .autoRadio4 {
    background-color: #ff6c70;
}

#radio1:checked ~ .carrosselImagem1 {
    margin-left: 0%;
}

#radio2:checked ~ .carrosselImagem1 {
    margin-left: -25%;
}

#radio3:checked ~ .carrosselImagem1 {
    margin-left: -50%;
}

#radio4:checked ~ .carrosselImagem1 {
    margin-left: -75%;
}

/* #topo_promocoes button {
    width: 20px;
    height: 150px;
    background-color: rgba(255, 0, 0, 0.336);
    border: none;
    color: azure;
    border-radius: 10%;
    align-self: center;
}

#buttonLeft{
    left: initial;
    right: -10px;
    position: relative;
}

#buttonRigh{
    right: initial;
    right: -10px;
    position: relative; 
} */