@font-face {
    font-family: titulo;
    src: url(../fontes/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../fontes/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../fontes/LiberationSans-Regular.ttf);
}

* {
    font-family: textLigth;
}

#inicioarticle {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    height: 110px;
    border: black 2px solid;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: texto;
    padding: auto;
}

#corpoarticle {
    margin: 0px;
}

#corpocadastrados {
    margin: 30px;
}

table {
    border: 1px black solid;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(249, 255, 255);
}

thead {
    text-align: center;
    background-color: rgb(84, 131, 158);
    color: aliceblue;
}

tr {
    border: 1px black solid;
}

td {
    border: 1px black solid;
    margin-left: 10px;
    height: 30px;
    justify-content: center;
    text-align-last: center;
    align-items: center;
}

.tabelaBotao {
    width: 40px;
    height: 20px;
    border-radius: 20%;
    justify-self: center;
    background-color: red;
    cursor: pointer;
    color: white;
    font-family: textItens;
    text-align-last: center;
    align-items: center;
}

#pedidosLista {
    min-height: 500px;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    background-color: aliceblue;
    background-image: linear-gradient(to bottom, rgb(102, 102, 102), rgba(102, 102, 102, 0.356),rgb(102, 102, 102));
    padding: 10px;
    border-radius: 40px;
}

.divCarrinhoSolicitado {
    margin-left: 50px;
    display: none;
}

.tdCarrinhoSolicitado button{
    justify-self: left;
    margin-left: 20px;
}

.tdCarrinhoSolicitado:hover .divCarrinhoSolicitado{
    display: block;
}

.tabelaBotaoMostrarProdutos {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(45deg, rgb(228, 209, 122), rgba(240, 157, 63, 0.712),#ff6c70);
    justify-self: center;
    text-align-last: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tabelaBotaoMostrarProdutos img{
    display: flex;
    width: 25px;
    height: 25px;
}

.produtosDoCarrinhoSolicitado {
    width: 17vw;
    max-height: 450px;
    min-height: 300px;
    background-color: aliceblue;
    background-image: linear-gradient(to bottom, rgb(182, 182, 182), rgba(182, 182, 182, 0.356),rgb(105, 105, 105));
    border: 1px black solid;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    position: absolute;
    padding-bottom: 20px;
    margin-left: 2.5vw;
    margin-top: -65px;
    flex-direction: column;
    padding-inline: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.produtosDoCarrinhoSolicitado p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.trianguloProdutosDoCarrinhoSolicitado {
    width: 0; 
    height: 0; 
    display: flex;
    position: absolute;
    rotate: 135deg;
    margin-left: 2.5vw;
    margin-top: -53px;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    border-bottom: 40px solid rgb(112, 112, 112);
}

.produtosDoCarrinhoSolicitado hr{
    border: 1px solid gray;
    width: 14vw;
}

.tabelaDoCarrinhoSolicitadoNome {
    background-color: rgb(255, 255, 255);
    color: rgb(220, 141, 38);
    text-align: left;
    text-align-last: left;
    padding-left: 5px;
}

.tabelaDoCarrinhoSolicitadoIcone {
    padding: 5px;
}
.tabelaDoCarrinhoSolicitadoIcone img{
    width: 50px;
    height: 50px;
}