#pedidosLista {
    margin-top: 50px;
    margin: auto;
    background-color: rgb(136, 162, 162);
    width: 80vw;
    height: 500px;
}

.divCarrinhoSolicitado {
    margin-left: 50px;
    display: none;
}

.tdCarrinhoSolicitado:hover .divCarrinhoSolicitado{
    display: block;
}

.tabelaBotaoMostrarProdutos {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(255, 255, 62);
    justify-self: center;
    text-align-last: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tabelaBotaoMostrarProdutos img{
    display: flex;
    width: 25px;
    height: 25px;
}

.produtosDoCarrinhoSolicitado {
    width: 15vw;
    height: 450px;
    background-color: antiquewhite;
    border: 1px black solid;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    position: absolute;
    margin-left: 13.5vw;
    margin-top: -65px;
    flex-direction: column;
    padding-inline: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.trianguloProdutosDoCarrinhoSolicitado {
    width: 0; 
    height: 0; 
    display: flex;
    position: absolute;
    rotate: 135deg;
    margin-left: 13.5vw;
    margin-top: -53px;
    border-left: 50px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid rgb(234, 175, 98);
}

.produtosDoCarrinhoSolicitado hr{
    border: 1px solid gray;
    width: 14vw;
}

.tabelaDoCarrinhoSolicitadoNome {
    background-color: rgb(255, 255, 255);
    color: rgb(220, 141, 38);
    text-align: left;
    text-align-last: left;
    padding-left: 5px;
}

.tabelaDoCarrinhoSolicitadoIcone {
    padding: 5px;
}
.tabelaDoCarrinhoSolicitadoIcone img{
    width: 50px;
    height: 50px;
}