html {
    width: 100%;
    height: 100%;
    background-color: #a09b8c;
}

body {
    margin: 0px
}

@font-face {
    font-family: fraseinicial;
    src: url(../fontes/babytitle.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: texto_navigation;
    src: url(../fontes/text_bold.ttf);
}

*{
    font-family: texto;
}

header {
    height: 70px;
    background-color: #98dfee;
    align-content: center;
}

header p {
    font-size: 35px;
    justify-content: left;
    align-items: center;
    margin: auto;
    margin-left: 40px;
    font-family: fraseinicial;
}

#logo_B {
    font-size: 35px;
    font-family: fraseinicial;
    color: rgb(228, 209, 122);
}

#logo_T {
    font-size: 35px;
    font-family: fraseinicial;
    color: #ff6c70;
}

#navegador {
    height: 50px;
    background-color: #45afa8;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-right: 30px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

ul #atual {
    background-color: rgba(121, 121, 121, 0.493);
    border-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 30px;
    margin: auto;
    height: 100%;
}

nav ul li {
    align-content: center;
}

nav ul hr {
    height: 30px;
    border: white 1px solid;
}

nav ul a{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    transition: 1s;
}

nav ul a:hover{
    color: #ff6c70;
    transform: scale(1.2);
}

#inicioarticle {
    margin-top: 50px;
    height: 100px;
    background-color: rgb(73, 170, 170);
    border: black 2px solid;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

#itens_desconto {
    margin-top: 80px;
    height: 30vw;
    width: 80%;
    background-color: #a09b8c;
    justify-self: center;
}

#novidades {
    margin-top: 80px;
    height: 30vw;
    width: 80%;
    background-color: #a09b8c;
    justify-self: center;
}

#itens_nacionais {
    margin-top: 80px;
    height: 30vw;
    width: 80%;
    background-color: #a09b8c;
    justify-self: center;
}

#itens_saude {
    margin-top: 80px;
    height: 30vw;
    width: 80%;
    background-color: #a09b8c;
    justify-self: center;
}

#itens_seguranca {
    margin-top: 80px;
    height: 30vw;
    width: 80%;
    background-color: #a09b8c;
    justify-self: center;
}

#itens_entretenimento {
    margin-top: 80px;
    height: 30vw;
    width: 80%;
    background-color: #a09b8c;
    justify-self: center;
}



footer {
    margin-top: 80px;
    background-color: #45afa8;
    color: aliceblue;
    height: 300px;
    width: 100%;
}