html {
    width: 100%;
    height: 100%;
    background-color: #a09b8c;
}

body {
    margin: 0px
}

@font-face {
    font-family: fraseinicial;
    src: url(../fontes/babytitle.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: texto_navigation;
    src: url(../fontes/text_bold.ttf);
}

*{
    font-family: texto;
}

#marca a {
    text-decoration: none;
    font-family: fraseinicial;
    color: black;
}

#inicioarticle {
    margin-top: 50px;
    height: 100px;
    background-color: rgb(73, 170, 170);
    border: black 2px solid;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.secaoDisplay {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.secaoTexto {
    position: absolute;
    align-self: baseline;
    margin-left: 30px;
    font-size: 26px;
}

.linhaDeItens {
    display: flex;
    list-style: none;
    overflow: hidden;
    margin-top: 85px;
    transition: 0.7s;
}

.buttomLeftSecao {
    width: 50px;
    height: 50px;
    border: black 2px solid;
    border-radius: 100%;
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
}

.buttomRightSecao {
    width: 50px;
    height: 50px;
    border: black 2px solid;
    border-radius: 100%;
    position: absolute;
    right: 10.5%;
    cursor: pointer;
}

#secaoDesconto {
    margin-top: 80px;
    height: 500px;
    width: 70%;
    background-color: rgba(141, 141, 141, 0.735);
    border-radius: 50px;
    justify-self: center;
    place-content: center;
    padding: 0;
}

#produtosDesconto {
    display: flex;
    list-style: none;
    overflow: hidden;
}

.desconto {
    color: rgba(112, 112, 112, 0.614);
    text-decoration: line-through;
    font-size: 13px;
}

.iten_preco_desconto {
    display: flex;
    flex-direction: column;
}

#secaoNovidades {
    margin-top: 80px;
    height: 500px;
    width: 80%;
    background-color: rgba(141, 141, 141, 0.735);
    border-radius: 20px;
    justify-self: center;
}

#secaoNacionais {
    margin-top: 80px;
    height: 500px;
    width: 80%;
    background-color: rgba(141, 141, 141, 0.735);
    border-radius: 20px;
    justify-self: center;
}

#secaoSaude {
    margin-top: 80px;
    height: 500px;
    width: 80%;
    background-color: rgba(141, 141, 141, 0.735);
    border-radius: 20px;
    justify-self: center;
}

#secaoSeguranca {
    margin-top: 80px;
    height: 500px;
    width: 80%;
    background-color: rgba(141, 141, 141, 0.735);
    border-radius: 20px;
    justify-self: center;
}

#secaoEntretenimento {
    margin-top: 80px;
    height: 500px;
    width: 80%;
    background-color: rgba(141, 141, 141, 0.735);
    border-radius: 20px;
    justify-self: center;
}



footer {
    margin-top: 80px;
    background-color: #45afa8;
    color: aliceblue;
    height: 420px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    bottom: auto;
}

footer section {
    width: 15%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

footer section h3 {
    font-size: 25px;
    margin: 10px;
    margin-inline: 0px;
}

footer section p {
    font-size: 12px;
}

footer section ul{
    list-style: none;
    padding: 0px;
}

footer section ul li{
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 10px;
}

footer section ul a{
    display: flex;
    gap: 10px;
}

#marca {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: fraseinicial;
    font-size: 24px;
    color: black;
}

#sobreNos {
    font-size: 13px;
}

.iconeRedeSocial {
    width: 30px;
    height: 30px;
}