#secaoBotoesEProdutos {
    display: flex;
    gap: 5vw;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

#selecionarOpcaoCaracteristica {
    background-color: aliceblue;
    border-radius: 10px;
    height: 300px;
    width: 18vw;
    box-shadow: 10px 5px 30px black;
    padding: 20px;
}

#selecionarOpcaoCaracteristica p {
    justify-self: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 5px;
    padding: 10px;
    margin-top: 0px;
}

#todosProdutosLoja {
    width: 60vw;
    min-height: 800px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: aliceblue;
    box-shadow: 10px 5px 30px black;
    padding: 20px;
    flex-wrap: wrap;
}

#botoesSelecionar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#botoesSelecionar button{
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background-color: #ff6c70;
    margin-right: 20px;
    position: relative;
}

.imagemNotFound {
    width: 300px;
    height: 300px;
    margin-top: 210px;
    filter: opacity(50%)
}

.textoNotFound {
    font-size: 30px;
    position: absolute;
    margin-top: 530px;
    color: red;
    text-decoration: overline;
}