@font-face {
    font-family: titulo;
    src: url(../assets/fonts/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../assets/fonts/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../assets/fonts/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../assets/fonts/LiberationSans-Regular.ttf);
}

* {
    font-family: textLigth;
}

#fundoCadastro {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    border-top: black 5px solid;
    border-bottom: black 5px solid;
}

#cadastroCliente {
    background-color: aliceblue;
    height: auto;
    width: 360px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;
}

#cadastroCliente #marca p{
    place-self: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cadastroCliente #logo_B, #cadastroCliente #logo_T{
    font-size: 62px;
}

#inicioCadastro {
    width: auto;
    margin: 0px;
    color: black;
    display: flex;
    font-size: 30px;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#inicioCadastro p {
    margin: 0px;
    font-family: titulo;
    font-size: 30px;
    text-align: -webkit-center;
}

.iconeCadastro {
    width: 23px;
    height: 23px;
    position: absolute;
    margin-top: 33px;
    margin-left: 5px;
}

.iconeCadastrar {
    width: 50px;
    height: 50px;
}

.inputCadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.inputCadastro span{
    color: red;
    font-size: 12px;
    position: absolute;
    margin-top: 60px;
    display: none;
}

.inputCadastro label {
    font-size: large;
}

.inputCadastro input {
    background-color: rgb(245, 219, 186);
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid rgb(46, 46, 46);
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(117, 57, 57);
    padding-left: 40px;
}

hr {
    width: 100%;
    border: 1px solid black;
}

#novoCadastroCadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#novoCadastroCadastro a {
    font-size: 24px;
    color: #ff6c70;
    text-decoration: underline;
    cursor: pointer;
}

#button {
    width: 90%;
    display: flex;
    justify-self: center;
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgb(117, 57, 57);
}

#button:hover {
    background-color: rgb(255, 123, 145);
    color: white;
}

.preencherCampo {
    position: absolute;
    display: flex;
    font-size: 10px;
    color: red;
    text-decoration: underline;
    display: block;
}

