#TelaUsuario {
    width: 400px;
    height: 540px;
    background-color: aliceblue;
    border-radius: 30px;
    border: 1px solid black;
    margin: auto;
    padding: 30px;
}

#topoUsuario {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#sairConta {
    position: absolute;
    display: flex;
    font-size: 14px;
    text-decoration:underline;
    color: red;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 287px;
}

#topoUsuario h3 {
    text-align: -webkit-center;
}

#imagemUsuario {
    width: 190px;
    height: 190px;
    border-radius: 100px;
    cursor: pointer;
}

#cameraIcone {
    display: none;
    position: absolute;
    margin-left: 50px;
    margin-top: -145px;
    cursor: pointer;
}

#icone {
    border-radius: 100px;
    width: 190px;
    height: 190px;
    border: 5px black solid;
}

#icone:hover {
    background-color:rgba(48, 48, 48, 0.445);
    background-position: center;
    background-size: cover;
}

#icone:hover #cameraIcone {
    display: flex;
}

#trianguloIcone {
        width: 0; 
        height: 0; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid #5386E4;
        position: absolute;
        margin-left: 68px;
        margin-top: -30px;
}

#divMudarIcone {
    width: 300px;
    height: 20px;
    background-color: #5386E4;
    position: relative;
    margin-top: 10px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: none;
}

#divMudarIcone button {
    width: 50px;
    height: 20px;
    margin: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#divMudarIcone input {
    width: 80%;
}

#icone:hover #divMudarIcone{
    display: flex;
}

#nomeUsuario {
    margin-left: 10px;
}

#informacoesUsuario {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#informacoesUsuario div {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 20px;
    display: flex;
    height: 30px;
}

#informacoesUsuario div p {
    margin: 0px;
    margin-left: 20px;
}

#informacoesUsuario div p {
    width: 70px;
}

#informacoesUsuario hr {
    border: 1px solid gray;
}

#removerConta {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    place-items: center;
    justify-content: center;
    display: flex;
    border: 2px black solid;
    border-radius: 50px;
    margin-top: 40px;
}

#removerConta:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}