@font-face {
    font-family: titulo;
    src: url(../fontes/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../fontes/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../fontes/LiberationSans-Regular.ttf);
}

* {
    font-family: textLigth;
}

#cadastrar {
    width: 460px;
    margin: auto;
    background-color: #ffeaa9;
    padding: 20px;
    margin-bottom: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: black 2px solid;
    border-top: none;
}

.input_title {
    font-family: textInput;
    margin-left: 10px;
    word-spacing: 0px;
    font-size: 25px;
}

.input_text {
    width: 100%;
    font-size: 18px;
    background-color: rgba(217, 217, 217, 0.825);
    border: none;
    border-bottom: black solid 4px;
    border-top-right-radius: 20px;
}

.select_style{
    font-size: 20px;
    font-family: textItens;
    background-color: rgba(217, 217, 217, 0.825);
    border: black solid 3px;
    border-radius: 30px;
    padding-left: 20px;
}

.radio_title_style {
    font-size: 20px;
}

.radio_style {
    height: 15px;
    background-color: gray;
    color: red;
}

#button {
    width: 90%;
    display: flex;
    justify-self: center;
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    border: black solid 3px;
}

#button:hover {
    background-color: rgb(255, 123, 145);
    color: white;
    border: rgb(255, 255, 255) solid 5px;
}

#itens {
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 87vw;
    background-color: beige;
    border-radius: 100px;
    flex-wrap: wrap;
}