@font-face {
    font-family: titulo;
    src: url(../fontes/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../fontes/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../fontes/LiberationSans-Regular.ttf);
}

#itens_cadastrados {
    display: flex;
    list-style: none;
    margin-inline: 50px;
    word-break: normal;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 320px;
    width: 240px;
    background-color: rgb(252, 199, 199);
    border-radius: 30px;
    padding-top: 5px;
    margin-inline: 30px;
    margin-bottom: 30px;
}

.iten_imagem {
    height: 210px;
    width: 210px;
    display: flex;
    margin-inline: auto;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(86, 83, 83);
    border-radius: 20px;
}

.iten_nome {
    margin-top: 8px;
    margin-inline: 25px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(97, 97, 97);
    font-family: textItens;
}

.iten_preco {
    margin-inline: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    display: flex;
    bottom: 0px;
}

.cifrao {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-right: 5px;
}