@font-face {
    font-family: titulo;
    src: url(../fontes/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
    font-family: textLigth;
    src: url(../fontes/text_light.ttf);
}

@font-face {
    font-family: textInput;
    src: url(../fontes/EdgecuttingLiteMedium.ttf);
}

@font-face {
    font-family: textItens;
    src: url(../fontes/LiberationSans-Regular.ttf);
}

* {
    font-family: textLigth;
}

main {
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    background-color: aliceblue;
    background-image: linear-gradient(to bottom, rgb(102, 102, 102), rgba(102, 102, 102, 0.356),rgb(102, 102, 102));
    padding: 10px;
    border-radius: 40px;
}

#inicioarticle {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    height: 110px;
    border: black 2px solid;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: texto;
    padding: auto;
}

#corpoarticle {
    margin: 0px;
}

#corpocadastrados {
    margin: 30px;
    padding-bottom: 30px;
}

table {
    border: 1px black solid;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(249, 255, 255);
}

thead {
    text-align: center;
    background-color: rgb(84, 131, 158);
    color: aliceblue;
}

tr {
    border: 1px black solid;
}

td {
    border: 1px black solid;
    margin-left: 10px;
    height: 30px;
    justify-content: center;
    text-align-last: center;
    align-items: center;
}

.tabelaBotao {
    width: 40px;
    height: 20px;
    border-radius: 20%;
    justify-self: center;
    background-color: red;
    cursor: pointer;
    color: white;
    font-family: textItens;
    text-align-last: center;
    align-items: center;
}

.iconeUsuario {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 100px;
    border: 2px solid black;
    display: flex;
    place-self: center; 
}